# Dependencies
node_modules

# Build output
dist
dist-ssr

# Angular cache
.angular
.cache

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Tests coverage
coverage
